In [1]:
import pandas as pd

- Mount Drive and Read Excel File.

In [21]:
df=pd.read_excel('/content/drive/MyDrive/Colab Notebooks/marketing_campaign.xls')
display(df)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138,0,0,2012-09-04 00:00:00,58,635,...,7,0,0,0,0,0,0,3,11,1.0
1,2174,1954,Graduation,Single,46344,1,1,2014-03-08 00:00:00,38,11,...,5,0,0,0,0,0,0,3,11,0.0
2,4141,1965,Graduation,Together,71613,0,0,2013-08-21 00:00:00,26,426,...,4,0,0,0,0,0,0,3,11,0.0
3,6182,1984,Graduation,Together,26646,1,0,2014-02-10 00:00:00,26,11,...,6,0,0,0,0,0,0,3,11,0.0
4,5324,1981,PhD,Married,58293,1,0,2014-01-19 00:00:00,94,173,...,5,0,0,0,0,0,0,3,11,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223,0,1,2013-06-13 00:00:00,46,709,...,5,0,0,0,0,0,0,3,11,0.0
2236,4001,1946,PhD,Together,64014,2,1,2014-06-10 00:00:00,56,406,...,7,0,0,0,1,0,0,3,11,0.0
2237,7270,1981,Graduation,Divorced,56981,0,0,2014-01-25 00:00:00,91,908,...,6,0,1,0,0,0,0,3,11,0.0
2238,8235,1956,Master,Together,69245,0,1,2014-01-24 00:00:00,8,428,...,3,0,0,0,0,0,0,3,11,0.0
2239,9405,1954,PhD,Married,52869,1,1,2012-10-15 00:00:00,40,84,...,7,0,0,0,0,0,0,3,11,1.0



Get a summary of all columns (data types. number of non-null values)

**This is THE most important step**.

In [10]:
print("\n--- Data Info (Types & Nulls) ---")
print(df.info())

--- Data Info (Types & Nulls) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2240 non-null   int64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   object
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2216 non-null   float64
dtypes: float64(1), int64(24), object(4)
memory usage: 507.6+ KB
None


Get descriptive statistics for all numerical columns (count, mean, std, min, max)

In [11]:
print("\n--- Descriptive Statistics (Numerical) ---")
print(df.describe())

--- Descriptive Statistics (Numerical) ---
                 ID   Year_Birth         Income      Kidhome      Recency  \
count   2240.000000  2240.000000    2240.000000  2240.000000  2240.000000
mean    5592.159821  1968.805804   51687.466518     0.443304    50.600446
std     3246.662198    11.984069   25609.328307     0.537474    40.815402
min        0.000000  1893.000000       0.000000     0.000000     0.000000
25%     2828.250000  1959.000000   34722.000000     0.000000    24.000000
50%     5458.500000  1970.000000   51075.000000     0.000000    49.000000
75%     8427.750000  1977.000000   68289.750000     1.000000    74.000000
max    11191.000000  1996.000000  666666.000000     2.000000   861.000000

          MntWines    MntFruits  MntMeatProducts  MntFishProducts  \
count  2240.000000  2240.000000      2240.000000      2240.000000
mean    302.051339    27.816964       165.497768        37.558036
std     336.807537    54.287973       223.581366        54.784887
min       0.000000     0.000000         0.000000         0.000000
25%      23.000000     2.000000        15.000000         3.000000
50%     172.000000     8.000000        66.000000        12.000000
75%     502.250000    33.000000       230.000000        50.000000
max    1493.000000  1607.000000      1725.000000       263.000000

       MntSweetProducts  ...  NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  \
count       2240.000000  ...        2240.000000   2240.000000   2240.000000
mean          27.266964  ...           5.262054      0.074107      0.073661
std           41.703168  ...           2.473727      0.262004      0.261276
min            0.000000  ...           0.000000      0.000000      0.000000
25%            1.000000  ...           3.000000      0.000000      0.000000
50%            8.000000  ...           6.000000      0.000000      0.000000
75%           34.000000  ...           7.000000      0.000000      0.000000
max          362.000000  ...          20.000000      1.000000      1.000000

       AcceptedCmp5  AcceptedCmp1  AcceptedCmp2     Complain  Z_CostContact  \
count   2240.000000   2240.000000   2240.000000  2240.000000    2240.000000
mean       0.073214      0.063393      0.013393     0.041518       3.085714
std        0.260546      0.243723      0.114976     0.322686       0.823814
min        0.000000      0.000000      0.000000     0.000000       3.000000
25%        0.000000      0.000000      0.000000     0.000000       3.000000
50%        0.000000      0.000000      0.000000     0.000000       3.000000
75%        0.000000      0.000000      0.000000     0.000000       3.000000
max        1.000000      1.000000      1.000000     3.000000      11.000000

         Z_Revenue     Response
count  2240.000000  2216.000000
mean     10.882589     0.150271
std       1.128644     0.357417
min       0.000000     0.000000
25%      11.000000     0.000000
50%      11.000000     0.000000
75%      11.000000     0.000000
max      11.000000     1.000000

[8 rows x 25 columns]



Check the number of missing ( NaN or Null) Values in EACH column

In [12]:
print("\n--- Missing Value Count ---")
print(df.isnull().sum())

--- Missing Value Count ---
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                  0
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response               24
dtype: int64

Hendling missing **values**

In [13]:
df_dropped_rows = df.dropna()

In [14]:
df_dropped_cols = df.dropna(axis=1)

In [17]:
mean_year_birth = df['Year_Birth'].mean()  # Calculate mean of 'Year_Birth'
print(f"Mean Year of Birth: {mean_year_birth}")

Mean Year of Birth: 1968.8058035714287


Check for duplicate rows  

Drop Duplicate rows, Keeping the first instance.

In [18]:
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 0

In [19]:
df = df.drop_duplicates()

Quick Data Cleaning

1.Fill missing 'income' values

 we will use the median income, as it's less sensative to outliers.
2.clean 'marital_status' column

 we will replace 'absurd', 'YOLO', and 'Alone' with 'single' to standardize.

In [22]:
median_income = df['Income'].median()
df['Income'] = df['Income'].fillna(median_income)
print(f"Filled {df['Income'].isnull().sum()} missing income values with the median: {median_income}")

Filled 0 missing income values with the median: 51075.0

In [23]:
df['Marital_Status'] = df['Marital_Status'].replace(['Absurd', 'YOLO', 'Alone'], 'Single')
print("\nCleaned 'Marital_Status' values:")
print(df['Marital_Status'].unique())

Cleaned 'Marital_Status' values:
['Single' 'Together' 'Married' 'Divorced' 'Widow']

In [24]:
df = df.drop(columns=['Z_CostContact', 'Z_Revenue'])
print("\nDropped constant Z_ columns.")

Dropped constant Z_ columns.

Data Processing Examples

Example 1: Select specific columns

 Let's see the ID, Education, and Income for the first 5 customers

In [25]:
print("\n--- Example 1: Selecting Columns ---")
print(df[['ID', 'Education', 'Income']].head())

--- Example 1: Selecting Columns ---
     ID   Education  Income
0  5524  Graduation   58138
1  2174  Graduation   46344
2  4141  Graduation   71613
3  6182  Graduation   26646
4  5324         PhD   58293

Example 2: Filter rows on one condition

 Get all customers with an income over $100,000

In [27]:
high_earners = df[df['Income'] > 100000]
print(f"\nFound {len(high_earners)} customers with income > $100k")
display(high_earners)

Found 13 customers with income > $100k

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
124,7215,1983,Graduation,Single,101970,0,0,2013-03-12 00:00:00,69,722,...,8,13,2,0,1,1,1,0,0,1.0
164,8475,1973,PhD,Married,157243,0,1,2014-03-01 00:00:00,98,20,...,22,0,0,0,0,0,0,0,0,0.0
203,2798,1977,PhD,Together,102160,0,0,2012-11-02 00:00:00,54,763,...,9,10,4,0,1,1,1,0,0,1.0
252,10089,1974,Graduation,Divorced,102692,0,0,2013-04-05 00:00:00,5,168,...,9,13,2,0,1,1,1,1,0,1.0
617,1503,1976,PhD,Together,162397,1,1,2013-06-03 00:00:00,31,85,...,0,1,1,0,0,0,0,0,0,0.0
646,4611,1970,Graduation,Together,105471,0,0,2013-01-21 00:00:00,36,1009,...,8,13,3,0,0,1,1,0,0,1.0
655,5555,1975,Graduation,Divorced,153924,0,0,2014-02-07 00:00:00,81,1,...,0,0,0,0,0,0,0,0,0,0.0
687,1501,1982,PhD,Married,160803,0,0,2012-08-04 00:00:00,21,55,...,28,1,0,0,0,0,0,0,0,0.0
1300,5336,1971,Master,Together,157733,1,0,2013-06-04 00:00:00,37,39,...,0,1,1,0,0,0,0,0,0,0.0
1653,4931,1977,Graduation,Together,157146,0,0,2013-04-29 00:00:00,13,1,...,28,0,1,0,0,0,0,0,0,0.0
1898,4619,1945,PhD,Single,113734,0,0,2014-05-28 00:00:00,9,6,...,0,0,1,0,0,0,0,0,0,0.0
2132,11181,1949,PhD,Married,156924,0,0,2013-08-29 00:00:00,85,2,...,0,0,0,0,0,0,0,0,0,0.0
2233,9432,1977,Graduation,Together,666666,1,0,2013-06-02 00:00:00,23,9,...,1,3,6,0,0,0,0,0,0,0.0

Example 3: Filter rows on multiple conditions

 Get customers with a 'PhD' who also have children ('Kidhome' or 'Teenhome')

In [30]:
df['Teenhome'] = pd.to_numeric(df['Teenhome'], errors='coerce')

phd_with_kids = df[
    (df['Education'] == 'PhD') &
    ((df['Kidhome'] > 0) | (df['Teenhome'] > 0))
]
print(f"\nFound {len(phd_with_kids)} PhD customers with kids.")

Found 350 PhD customers with kids.

In [31]:
display(phd_with_kids)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
4,5324,1981,PhD,Married,58293,1,0.0,2014-01-19 00:00:00,94,173,...,3,6,5,0,0,0,0,0,0,0.0
7,6177,1985,PhD,Married,33454,1,0.0,2013-05-08 00:00:00,32,76,...,0,4,8,0,0,0,0,0,0,0.0
8,4855,1974,PhD,Together,30351,1,0.0,2013-06-06 00:00:00,19,14,...,0,2,9,0,0,0,0,0,0,1.0
9,5899,1950,PhD,Together,5648,1,1.0,2014-03-13 00:00:00,68,28,...,0,0,20,1,0,0,0,0,0,0.0
22,1993,1949,PhD,Married,58607,0,1.0,2012-12-23 00:00:00,63,867,...,3,9,8,0,1,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2181,8858,1972,PhD,Married,44325,0,1.0,2013-03-07 00:00:00,69,516,...,2,7,8,0,1,0,0,0,0,0.0
2202,11133,1973,PhD,Single,48432,0,1.0,2012-10-18 00:00:00,3,322,...,1,6,8,0,0,0,0,0,0,1.0
2224,4286,1970,PhD,Single,57642,0,1.0,2014-01-09 00:00:00,24,580,...,6,6,4,1,0,0,0,0,0,0.0
2236,4001,1946,PhD,Together,64014,2,1.0,2014-06-10 00:00:00,56,406,...,2,5,7,0,0,0,1,0,0,0.0
2239,9405,1954,PhD,Married,52869,1,1.0,2012-10-15 00:00:00,40,84,...,1,4,7,0,0,0,0,0,0,1.0